


.thebackground {
    -fx-background-color : #B3E5FC;
}

.sectionTitle {
    -fx-text-fill   : #01579B;
    -fx-font-weight : bolder;
    -fx-font-size   : 14px;
}

.warningText {
    -fx-fill : #0277BD;
}

.inputSection {
    -fx-background-color : #E1F5FE;
}